.h1 {
  &--gap-xlg {
    margin-bottom: 40px;
  }

  &--gap-lg {
    margin-bottom: 32px;
  }

  &--gap-md {
    margin-bottom: 20px;
  }

  &--gap-sm {
    margin-bottom: 12px;
  }

  &--gap-xsm {
    margin-bottom: 6px;
  }
}